.header {
    background-color: rgb(35, 35, 158);
    color: white;
    text-shadow: 2px 2px 1px black;
    padding: 5px;
    border: 2px solid black;
    transition: all 0.5s ease-in-out
}

.header:hover {
    background-color: rgba(35, 35, 158, 0.897);
    border: 2px solid rgb(255, 255, 255);
}

.btn {
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
    border-radius: 0px;
}

.btn:hover {
    background-color: rgb(199, 199, 199);
}

.form-control {
    width: 250px;
    border: 1px solid black;
    border-radius: 0px;
    transition: all 0.2s ease-in-out;
}

.form-control:hover {
    background-color: rgb(224, 224, 224)
}

div.flex {
    display: flex;
    margin: 5px;
    padding: 5px;
}