/* ============================= */
p {
    margin: 0;
    padding: 0;
}

div {
    padding: 0 !important;
    margin: 0 !important;
}

.input-box {
    transition: all 0.2s ease-in-out;
    margin: 0px 5px;
    text-align: center;
}

.input-box:hover, .input-box:active, .input-box:focus {
    background-color: rgb(235, 235, 235);
    box-shadow: 0px 0px 7px black;
    transform: scale(1.05)
}
/* ============================= */

.navbar {
    background-color: #012169;
    box-shadow: 1px 1px 5px black inset;
    padding: 13px !important;
    margin-bottom: 30px !important;
    border: 1px solid rgba(0, 0, 0, 0.479);
}

.title {
    color: white;
    font-size: 35px;
    text-shadow: 1px 1px 3px black;
}

.nav-shortcuts {
    float: left;
}

.shortcut {
    margin: 0px 20px;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
}

/* ========================= */

.addItem-row {
    background-color: rgba(128, 128, 128, 0.253);
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    padding: 30px 0px !important;
    border: 1px solid rgba(0, 0, 0, 0.178);
}