/* =============================================================== */

p {
    margin: 0;
    padding: 0;
}

div {
    padding: 0 !important;
    margin: 0 !important;
}

/* =============================================================== */
/* =============================================================== */

.navbar {
    background-color: rgb(0, 73, 144);
    padding: 13px !important;
    margin-bottom: 30px !important;
    border: 1px solid rgba(0, 0, 0, 0.479);
    transition: 0.2s all ease-in-out;
}

.navbar:hover {
    background-color: rgb(0, 60, 121);
}

.title {
    color: white;
    font-size: 35px;
    text-shadow: 1px 1px 3px black;
}

.nav-shortcuts {
    float: left;
}

.shortcut {
    margin: 0px 20px;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 3px black;
    transition: 0.2s all ease-in-out;
}

.shortcut:hover {
    color: white;
    font-size: 32px;
}

/* ============================================================ */
/* ============================================================ */
/* ============================================================ */

/* MISC */

.search-btn, .addItem-btn {
    border: 2px solid rgba(0, 0, 0, 0.349);
    transition: 0.2s all ease-in-out;
}

.search-btn:hover, .search-btn:active, .addItem-btn:hover, .addItem-btn:active  {
    background-color: rgba(32, 151, 32, 0.76);
    color: white;
    box-shadow: 0px 0px 7px black;
    transform: scale(1.05)
}


.input-box {
    transition: all 0.2s ease-in-out;
    margin: 0px 2px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.349);
}

.input-box:hover, .input-box:active, .input-box:focus {
    background-color: rgb(235, 235, 235);
    box-shadow: 0px 0px 7px black;
    transform: scale(1.05)
}

/* =============================================================== */
/* =============================================================== */

.addItem-row {
    background-color: rgba(128, 128, 128, 0.13);
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    padding: 30px 0px !important;
    border: 1px solid rgba(0, 0, 0, 0.178);
    transition: 0.3s all ease-in-out;
}

.addItem-row:hover {
    background-color: rgba(128, 128, 128, 0.26);
}

/* =============================================================== */
/* =============================================================== */

.item-div {
    border: 2px solid rgba(0, 0, 0, 0.349);
    margin: 10px 10px !important;
    padding: 10px !important;
    transition: all 0.2s ease-in-out;
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 0px 5px black inset;
    opacity: 90%;
}

.item-div:hover {
    border: 2px solid rgba(0, 0, 0, 0.739);
    background-color: rgb(236, 236, 236);
    transform: scale(1.05);
    opacity: 100%;
}

.item-img {
    border: 2px solid rgba(0, 0, 0, 0.349);
}

.item-number {
    font-weight: bold;
}

/* ================================== */

.stock-div {
    background-color: rgba(9, 138, 9, 0.24);
    border: 1px solid black;
    padding: 5px !important;
    transition: all 0.2s ease-in-out;
    margin-bottom: 5px !important;
}

.stock-div:hover {
    background-color: rgba(9, 138, 9, 0.459);
    transform: scale(1.02);
    box-shadow: 0px 0px 5px black;
}

.editQty-btn {
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
}

.editQty-btn:hover {
    background-color: rgb(167, 167, 167);
    transform: scale(1.05);
}

/* =============================== */


.location-div {
    background-color: rgba(9, 129, 138, 0.24);
    border: 1px solid black;
    padding: 5px !important;
    transition: all 0.2s ease-in-out;
    margin-bottom: 5px !important;
}

.location-div:hover {
    background-color: rgba(11, 166, 177, 0.404);
    transform: scale(1.02);
    box-shadow: 0px 0px 5px black;
}

.editLocation-btn {
    border: 1px solid black;
}

.editLocation-btn:hover {
    background-color: rgb(167, 167, 167);
    transform: scale(1.05);
}

/* ====================================== */

.delete-btn {
    border: 1px solid black;
    background-color: rgba(255, 0, 0, 0.377);
    width: 180px;
    transition: all 0.2s ease-in-out;
}

.delete-btn:hover {
    background-color: rgba(255, 0, 0, 0.685);
    transform: scale(1.02);
    box-shadow: 0px 0px 5px black;
}

/* ======================================== */

.creation-date, .updated-date {
    margin-top: 5px;
    font-size: 13px;
}

/* ======================================== */

.copyright-row {
    background-color: rgba(128, 128, 128, 0.13);
    border: 1px solid rgba(0, 0, 0, 0.178);

    position: fixed;
    bottom: 0;
    width: 100%;
}

.copyright {
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
}